.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 100vw;
    margin-top: 10vh;
    
   .button-left{
    position: relative;
    left: 3%;
    height: 30px;
    width: 30px;
    cursor: grab;
   }

   .button-right{
    position: relative;
    right:3%;
    height: 30px;
    width: 30px;
    cursor: grab;
    
   }
    
    .carousel-card{
        margin-top: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-bg-variant);
        height: 60vh;
        width: 100vh;
        border-radius: 20px;
        border: solid #023047 2px;

        img{
            height: 50vh;
            width: auto;
            border-radius: 20px;
           
        }
    }
}
