.footer{
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    height: 8vh;
    width: 100%;
    background-color: var(--color-bg-variant);
    color: burlywood;
    
    ul{
        display: flex;
        align-items: center;   
        justify-content:flex-end;
        width: 100%;
        
        li{
            padding-left: 5vw;
            display: flex;
    
        }
    
    img{
        height: 4vh;
        width: auto;
    }
}
}